<div class="container">
    <main>
        <div class="py-5 text-center">
            <h2>Alta actor</h2>
        </div>

        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <app-tabla-paises (pais)="seleccionarPais($event)"></app-tabla-paises>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Datos personales</h4>
                <form [formGroup]="encuestaForm" class="needs-validation" novalidate>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="" formControlName="nombre"
                                value="" required>
                            <div class="error">
                                <small
                                    *ngIf="encuestaForm.get('nombre')?.invalid && encuestaForm.get('nombre')?.touched">Solo
                                    puede tener letras.</small>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" placeholder=""
                                formControlName="apellido" value="" required>
                            <div class="error">
                                <small
                                    *ngIf="encuestaForm.get('apellido')?.invalid && encuestaForm.get('apellido')?.touched">Solo
                                    puede tener letras.</small>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="edad" class="form-label">Edad</label>
                            <input class="input" id="edad" type="number" formControlName="edad" required />
                            <div class="error">
                                <small *ngIf="encuestaForm.get('edad')?.invalid && encuestaForm.get('edad')?.touched">La
                                    edad máxima es 99 años.</small>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="documento" class="form-label">DNI</label>
                            <input class="input" id="documento" type="number" formControlName="documento" required />
                            <div class="error">
                                <small
                                    *ngIf="encuestaForm.get('documento')?.invalid && encuestaForm.get('documento')?.touched">El
                                    dni debe tener como mínimo 8 dígitos.</small>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <input type="text" class="form-control" id="pais" formControlName="pais" placeholder=""
                                required>
                            <div class="error">
                                <small
                                    *ngIf="encuestaForm.get('pais')?.invalid && encuestaForm.get('pais')?.touched">El
                                    país es obligatorio.</small>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4">

                    <button class="w-100 btn btn-primary btn-lg" (click)="onSubmit()" type="submit">Alta</button>
                </form>
            </div>
        </div>
    </main>
</div>